# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Installed packages (if any)
site-packages/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS / editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/
